.flex-container {
    display: flex;
    background-color: DodgerBlue;
    margin: 1em;
    flex-wrap: wrap;
    justify-content:space-evenly ;
  }
  
.flex-container > img {
    background-color: #f1f1f1;
    margin: 10px;
    width: 10em;
}

#error{
    color: red;
    font-weight: bolder;
    font-size: 2em;
}